#tabsMenuButton {
    qproperty-icon: {{ icon('arrow_drop_down') }};
    qproperty-iconSize: 16px;
}


#dockAreaCloseButton {
    qproperty-icon: {{ icon('close') }}, {{ icon('close') }} disabled;
    qproperty-iconSize: 16px;
}


#detachGroupButton {
    qproperty-icon: {{ icon('detach_tab') }}, {{ icon('detach_tab') }} disabled;
    qproperty-iconSize: 16px;
}

#tabCloseButton {
    margin-top: 0.2ex;
    background: none;
    border: none;
    padding: 0 -0.2ex;
    qproperty-icon: {{ icon('close') }}, {{ icon('close') }} disabled;
    qproperty-iconSize: 16px;
}

/*****************************************************************************
 * CDockAreaWidget / CDockAreaTitleBar
 *****************************************************************************/
ads--CDockAreaWidget {
    background: palette(base);
}

ads--CDockAreaTitleBar {
    background: palette(base);
    border-bottom: 1px solid palette(mid);
    padding: 0;
}

/*****************************************************************************
 * CDockWidget
 *****************************************************************************/
ads--CDockWidget {
    background: palette(base);
}

/*****************************************************************************
 * CDockWidgetTab
 *****************************************************************************/
ads--CDockWidgetTab {
    background: palette(base);
    min-width: 8ex;
    padding: 0.4ex 0.8ex;
    margin: 0 0.2ex;
    border: none;
    border-bottom: 1px solid palette(Mid);
}


ads--CDockWidgetTab[activeTab="true"] {
    background: palette(base);
}


ads--CDockWidgetTab QLabel {
    color: {{ palette('UnselectedText') }};
}


ads--CDockWidgetTab[activeTab="true"] QLabel {
    color: palette(text);
}

/*****************************************************************************
 * CDockSplitter
 *****************************************************************************/
ads--CDockContainerWidget > QSplitter {
    padding: 1 0 1 0;
}


ads--CDockSplitter::handle {
    background-color: palette(mid);
    height: 0.2ex;
}


/*
 Auto hide containers
 */
#dockAreaAutoHideButton {
    qproperty-icon: {{ icon('push_pin') }}, {{ icon('push_pin') }} disabled;
    qproperty-iconSize: 16px;
}

ads--CAutoHideDockContainer #dockAreaAutoHideButton {
    qproperty-icon: {{ icon('push_pin_filled') }};
    qproperty-iconSize: 16px;
}


ads--CAutoHideDockContainer[sideBarLocation="0"] ads--CResizeHandle {
    border-top: 0.3ex solid palette(mid);
}

ads--CAutoHideDockContainer[sideBarLocation="1"] ads--CResizeHandle {
    border-left: 0.3ex solid palette(mid);
}

ads--CAutoHideDockContainer[sideBarLocation="2"] ads--CResizeHandle {
    border-right: 0.3ex solid palette(mid);
}

ads--CAutoHideDockContainer[sideBarLocation="3"] ads--CResizeHandle {
    border-top: 0.3ex solid palette(mid);
}


ads--CAutoHideDockContainer ads--CTitleBarButton:hover {
    background: palette(mid);
    border: none;
}

ads--CAutoHideDockContainer ads--CTitleBarButton:pressed {
    background: rgba(255, 255, 255, 96);
    border: none;
}


#autoHideTitleLabel {
    padding-left: 1.6ex;
    color: palette(text);
}


/*****************************************************************************
 * CAutoHideSideBar
 *****************************************************************************/
ads--CAutoHideSideBar {
    background: palette(base);
    border: none;
    qproperty-spacing: 12;
}

#sideTabsContainerWidget {
    background: transparent;
}


ads--CAutoHideSideBar[sideBarLocation="0"] {
    border-bottom: 1px solid{{ palette('mid') }};
}

ads--CAutoHideSideBar[sideBarLocation="1"] {
    border-right: 1px solid{{ palette('mid') }};
}

ads--CAutoHideSideBar[sideBarLocation="2"] {
    border-left: 1px solid{{ palette('mid') }};
}

ads--CAutoHideSideBar[sideBarLocation="3"] {
    border-top: 1px solid{{ palette('mid') }};
}


/*****************************************************************************
 * CAutoHideTab
 *****************************************************************************/
ads--CAutoHideTab:hover,
ads--CAutoHideTab:hover:focus,
ads--CAutoHideTab:pressed,
ads--CAutoHideTab:pressed:focus,
ads--CAutoHideTab {
    qproperty-iconSize: 24px 24px; /* qproperty requires px */
    background: none;
    border: none;
    padding-left: 0.8ex;
    padding-right: 0.8ex;
    text-align: center;
    min-height: 2ex;
    padding-bottom: 0;
    margin: 0;
}

ads--CAutoHideTab:hover {
    color: palette(highlight);
}

ads--CAutoHideTab:hover:focus {
    color: palette(highlight);
}

ads--CAutoHideTab[iconOnly="false"][sideBarLocation="0"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="2"] {
    border-top: 0.2ex solid {{ palette('mid') | alpha(48) }};
}


ads--CAutoHideTab[iconOnly="false"][sideBarLocation="1"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="3"] {
    border-bottom: 0.2ex solid {{ palette('mid') | alpha(48) }};
    border-right: 0.2ex solid {{ palette('mid') | alpha(48) }};
    border-radius: 0.2ex;
}


ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="0"],
ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="2"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="0"][activeTab="true"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="2"][activeTab="true"] {
    border-top: 0.2ex solid palette(highlight);
}


ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="1"],
ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="3"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="1"][activeTab="true"],
ads--CAutoHideTab[iconOnly="false"][sideBarLocation="3"][activeTab="true"] {
    border-bottom: 0.2ex solid palette(highlight);
}

ads--CAutoHideTab[iconOnly="true"] {
    padding: 0.6ex;
    margin: 0.2ex;
    border-radius: 0.4ex;
}

ads--CAutoHideTab[iconOnly="true"]:hover {
    background: {{ palette('highlight') | alpha(30) }};
}

ads--CAutoHideTab[iconOnly="true"][activeTab="true"] {
    background: {{ palette('highlight') | alpha(50) }};
}
