---
# See http://clang.llvm.org/docs/ClangFormatStyleOptions.html for a definition 
# of the options
Language: Cpp
BasedOnStyle:  WebKit

# Line length
ColumnLimit: 100

# Indent with 4 spaces
IndentWidth: 4
AccessModifierOffset: -4 # -IndentWidth
ConstructorInitializerIndentWidth: 8 # 2 * IndentWidth

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: true
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
MaxEmptyLinesToKeep: 2
Standard: Cpp11
UseTab: Never

