build/
_build/
dist/
app.build/
CMakeLists.txt.user
/.project
core/src/Version.cpp
core/include/Version.h
3rdparty/
subprojects/*
!subprojects/*.wrap
documentation/*
**/.idea/*
**/__pycache__/*
*.srctrl*
*.kdev4
**/.ipynb_checkpoints/*
.vscode
*.pyc
*.swp
