[build-system]
build-backend = "flit_core.buildapi"
requires = ["flit_core"]

[project]
name = 'SciQLop'
version = "0.3.0"
description = "An ergonomic and efficient application to browse and label in situ plasma measurements from multi-mission satellite data."
keywords = ["machine-learning", "satellite", "plasma-physics", "nasa-data", "amda", "cdpp"]
authors = [
    { name = "Alexis Jeandet", email = "alexis.jeandet@member.fsf.org" }
]

maintainers = [
    { name = "Alexis Jeandet", email = "alexis.jeandet@member.fsf.org" }
]

requires-python = ">=3.8"
license = { file = "COPYING" }
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Natural Language :: English",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
dependencies = ['numpy', 'SciQLopPlots>=0.4.3', 'speasy>=1.1.2', 'qtconsole==5.4.1', 'tscat_gui>=0.2.0', 'seaborn', "scipy", "PySide6-QtAds==4.0.1.2"]
[project.urls]
homepage = "https://github.com/SciQLop/SciQLop"

[project.gui-scripts]
sciqlop = "SciQLop.app:main"

[tool.pytest.ini_options]
testpaths = ["tests"]
qt_api = "pyside6"
