SciQLopPlots==0.18.0
PySide6-QtAds==4.4.1
PySide6==6.9.2
shiboken6==6.9.2
speasy>=1.6.1
qtconsole
humanize
platformdirs
seaborn
scipy
IPython
ipykernel<7.0.0
#https://github.com/jupyterlab/jupyterlab/issues/15461
jupyterlab>=4,!=4.1.0
notebook
ipympl
qasync
jinja2
pyzstd
PyGitHub
numpy
expression
pydantic