SciQLopPlots==0.17.0
PySide6-QtAds==4.4.0.3
PySide6==6.9.2
shiboken6==6.9.2
speasy>=1.5.2
qtconsole
tscat_gui==0.5.*
tscat==0.4.*
humanize
platformdirs
seaborn
scipy
IPython
ipykernel
#https://github.com/jupyterlab/jupyterlab/issues/15461
jupyterlab>=4,!=4.1.0
notebook
ipympl
qasync
jinja2
pyzstd
PyGitHub
numpy
expression
httpx_ws>=0.7.1,<0.8.0
pycrdt-websocket>=0.15.4,<0.16.0
pycrdt