SciQLopPlots==0.10.0
PySide6-QtAds==4.3.1.3
PySide6==6.8.2
shiboken6==6.8.2
speasy>=1.5.1
qtconsole
tscat_gui==0.4.*
tscat==0.4.*
humanize
platformdirs
seaborn
scipy
IPython
ipykernel
#https://github.com/jupyterlab/jupyterlab/issues/15461
jupyterlab>=4,!=4.1.0
notebook
ipympl
qasync
jinja2
pyzstd
PyGitHub
numpy>=2.0.0