[Desktop Entry]
Version=1.0
Name=SciQLOP

Type=Application
GenericName=SciQLOP
Comment=SCIentific Qt application for Learning from Observations of Plasmas

Exec=sciqlop
Icon=sciqlopLOGO
Terminal=false

Categories=Qt;Education;Science;

#MimeType=text/x-python;


