QCheckBox {
    background-color: palette(base);
    margin: 0;
    border: 0;
    padding: 0;
}

QCheckBox:focus {
    background-color: palette(base);
    margin: 0;
    border: 0;
    padding: 0;
}

QCheckBox::indicator {
    background-color: palette(base);
    width: 2ex;
    height: 2ex;
}

QCheckBox::indicator:focus,
QCheckBox::indicator:hover {
    background-color: {{ palette('highlight') | alpha(25) }};
    border: 1px solid palette(highlight);
    border-radius: 0.4ex;
}

QCheckBox::indicator:checked {
    image: {{ icon('check_box_checked') }};
}

QCheckBox::indicator:unchecked {
    image: {{ icon('check_box_unchecked') }};
}

QCheckBox::indicator:checked:disabled {
    image: {{ icon('check_box_checked') }};
}

QCheckBox::indicator:unchecked:disabled {
    image: {{ icon('check_box_unchecked') }};
}
