QCheckBox {
    background-color: palette(base);
    margin: 0px;
    border: 0px;
    padding: 0px;
}

QCheckBox:focus {
    background-color: palette(base);
    margin: 0px;
    border: 0px;
    padding: 0px;
}

QCheckBox::indicator {
    background-color: palette(base);
    width: 20px;
    height: 20px;
}

QCheckBox::indicator:focus,
QCheckBox::indicator:hover {
    background-color: {{ palette('highlight') | alpha(25) }};
    border: 1px solid palette(highlight);
    border-radius: 4px;
}

QCheckBox::indicator:checked {
    image: {{ icon('check_box_checked') }};
}

QCheckBox::indicator:unchecked {
    image: {{ icon('check_box_unchecked') }};
}

QCheckBox::indicator:checked:disabled {
    image: {{ icon('check_box_checked') }};
}

QCheckBox::indicator:unchecked:disabled {
    image: {{ icon('check_box_unchecked') }};
}
