
QDateEdit,
QComboBox {
  color: palette(text);
  border: 1px solid {{ palette('border') }};
  padding-left: 5px;
  border-radius: 4px;
  height: {{ controls_height }};
  background-color: palette(button);
}

QDateEdit:disabled,
QComboBox:disabled {
  color: {{ palette('UnselectedText') }};
  background-color: palette(base);
  border: 1px solid {{ palette('border') }};
}

QDateEdit::drop-down,
QComboBox::drop-down {
  border: none;
  color: palette(text);
  width: 20px;
}

QDateEdit::down-arrow,
QComboBox::down-arrow {
  image: {{ icon('arrow_drop_down') }};
  margin-right: 12px;
}

QDateEdit::down-arrow:focus,
QComboBox::down-arrow:focus {
  image: {{ icon('arrow_drop_down') }};
  margin-right: 12px;
}

QDateEdit::down-arrow:disabled,
QComboBox::down-arrow:disabled {
  image: {{ icon('arrow_drop_down') }};
  margin-right: 12px;
}

QDateEdit QAbstractItemView,
QComboBox QAbstractItemView {
  color: palette(text);
  background-color: palette(base);
  border: 1px solid {{ palette('border') }};
  border-radius: 4px;
  selection-color: palette(highlighted-text);
  selection-background-color: palette(highlight);
  outline: none;
}

QDateEdit QAbstractItemView::item,
QComboBox QAbstractItemView::item {
  color: palette(text);
  background-color: palette(base);
  padding: 4px 6px;
}

QDateEdit QAbstractItemView::item:selected,
QComboBox QAbstractItemView::item:selected {
  color: palette(highlighted-text);
  background-color: palette(highlight);
}

QDateEdit[frame='false'],
QComboBox[frame='false'] {
  color: palette(text);
  background-color: transparent;
  border: 1px solid transparent;
}

QDateEdit[frame='false']:disabled,
QComboBox[frame='false']:disabled {
  color: {{ palette('UnselectedText') }};
}
