QListView {
    alternate-background-color: {{ palette('base') | darker(103) }};
    show-decoration-selected: 1;
}

QListView::item:alternate {
}

QListView::item:selected {
    border: none;
}

QListView::item:selected:!active {
    background: {{ palette('Selection') | alpha(80) }};
}

QListView::item:selected:active {
    background: {{ palette('Selection') }};
}

QListView::item:hover {
    background: {{ palette('highlight') | alpha(25) }};
}
