QMenuBar {
    background-color: palette(base);
    border: none;
    border-bottom: 1px solid {{ palette('border') }};
    spacing: 0.3ex;
}

QMenuBar::item {
    padding: 0.4ex 0.8ex;
    background: transparent;
    border-radius: 0.4ex;
}

QMenuBar::item:selected {
    background: {{ palette('highlight') | alpha(25) }};
}

QMenuBar::item:pressed {
    background: {{ palette('highlight') | alpha(50) }};
}

QMenu {
    background-color: palette(base);
    border: 1px solid {{ palette('border') }};
    border-radius: 0.4ex;
    padding: 0.4ex 0;
}

QMenu::item {
    padding: 0.4ex 2.4ex 0.4ex 0.8ex;
}

QMenu::item:selected {
    background: {{ palette('highlight') | alpha(25) }};
}

QMenu::separator {
    height: 1px;
    background: {{ palette('border') }};
    margin: 0.4ex 0.8ex;
}
