QProgressBar {
    background: palette(mid);
    color: palette(text);
    border: none;
    border-radius: 0.4ex;
    text-align: center;
}

QProgressBar::chunk {
    background-color: {{ palette('highlight') }};
    border-radius: 0.4ex;
}
