
QPushButton {
    background-color: palette(button);
    border: 1px solid {{ palette('border') }};
    border-radius: 0.4ex;
    height: {{ controls_height }};
    padding: 0 0.8ex;
}

QPushButton:disabled {
    color: {{ palette('UnselectedText') }};
    border: 1px solid {{ palette('border') }};
}

QPushButton:enabled:hover {
    background-color: {{ palette('button') | lighter(110) }};
    border: 1px solid {{ palette('Selection') }};
}

QPushButton:enabled:focus {
    border: 1px solid {{ palette('Selection') }};
}

QPushButton:enabled:pressed,
QPushButton:enabled:pressed:focus {
    background-color: {{ palette('button') | darker(110) }};
    border: 1px solid {{ palette('Selection') }};
}
