QRadioButton {
    background-color: palette(base);
    margin: 0;
    border: 0;
    padding: 0;
    height: {{ controls_height }};
}

QRadioButton:focus {
    background-color: palette(base);
    margin: 0;
    border: 0;
    padding: 0;
}

QRadioButton::indicator {
    background-color: palette(base);
    width: 2ex;
    height: 2ex;
}

QRadioButton::indicator:focus,
QRadioButton::indicator:hover {
    background-color: {{ palette('highlight') | alpha(25) }};
    border: 1px solid palette(highlight);
    border-radius: 0.4ex;
}

QRadioButton::indicator:checked {
    image: {{ icon('radio_button_checked') }};
}

QRadioButton::indicator:unchecked {
    image: {{ icon('radio_button_unchecked') }};
}

QRadioButton::indicator:checked:disabled {
    image: {{ icon('radio_button_checked') }};
}

QRadioButton::indicator:unchecked:disabled {
    image: {{ icon('radio_button_unchecked') }};
}
