QRadioButton {
    background-color: palette(base);
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: {{ controls_height }};
}

QRadioButton:focus {
    background-color: palette(base);
    margin: 0px;
    border: 0px;
    padding: 0px;
}

QRadioButton::indicator {
    background-color: palette(base);
    width: 20px;
    height: 20px;
}

QRadioButton::indicator:focus {
    background-color: palette(mid);
    border: 1px solid palette(highlight);
    border-radius: 4px;
}

QRadioButton::indicator:hover {
    background-color: palette(mid);
    border: 1px solid palette(highlight);
    border-radius: 4px;
}

QRadioButton::indicator:checked {
    image: {{ icon('radio_button_checked') }};
}

QRadioButton::indicator:unchecked {
    image: {{ icon('radio_button_unchecked') }};
}

QRadioButton::indicator:checked:disabled {
    image: {{ icon('radio_button_checked') }};
}

QRadioButton::indicator:unchecked:disabled {
    image: {{ icon('radio_button_unchecked') }};
}