
QScrollArea {
    background-color: palette(window);
    border: none;
}

QScrollBar:vertical {
    background: palette(base);
    width: 8px;
    margin: 0;
    border: none;
    border-radius: 4px;
}

QScrollBar::handle:vertical {
    background: {{ palette('mid') }};
    min-height: 20px;
    border-radius: 4px;
}

QScrollBar::handle:vertical:hover {
    background: {{ palette('mid') | lighter(130) }};
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:horizontal {
    background: palette(base);
    height: 8px;
    margin: 0;
    border: none;
    border-radius: 4px;
}

QScrollBar::handle:horizontal {
    background: {{ palette('mid') }};
    min-width: 20px;
    border-radius: 4px;
}

QScrollBar::handle:horizontal:hover {
    background: {{ palette('mid') | lighter(130) }};
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    width: 0;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
}
