QDoubleSpinBox,
QSpinBox {
    background-color: palette(base);
    margin: 0px;
    border: 1px solid palette(mid);
    border-radius: 2px;
    padding: 0px;
    height: {{ controls_height }};
}

QDoubleSpinBox:focus,
QSpinBox:focus {
    background-color: palette(base);
    margin: 0px;
    border: 2px solid palette(mid);
    border-radius: 2px;
    padding: 0px;
}

QDoubleSpinBox::up-button,
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 20px;
    image: {{ icon('arrow_drop_up') }};
    border-width: 0px;
    margin-right: 5px;
}

QDoubleSpinBox::up-button:hover,
QSpinBox::up-button:hover {
    image: {{ icon('arrow_drop_up') }};
}

QDoubleSpinBox::up-button:pressed,
QSpinBox::up-button:pressed {
    border: {{ icon('arrow_drop_up') }};
}

QDoubleSpinBox::down-button,
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 20px;
    image: {{ icon('arrow_drop_down') }};
    border-width: 0px;
    margin-right: 5px;
}

QDoubleSpinBox::down-button:hover,
QSpinBox::down-button:hover {
    image: {{ icon('arrow_drop_down') }};
}

QDoubleSpinBox::down-button:pressed,
QSpinBox::down-button:pressed {
   image: {{ icon('arrow_drop_down') }};
}
