QDoubleSpinBox,
QSpinBox {
    background-color: palette(base);
    margin: 0;
    border: 1px solid {{ palette('border') }};
    border-radius: 0.4ex;
    padding: 0;
    height: {{ controls_height }};
}

QDoubleSpinBox:focus,
QSpinBox:focus {
    background-color: palette(base);
    margin: 0;
    border: 1px solid {{ palette('Selection') }};
    border-radius: 0.4ex;
    padding: 0;
}

QDoubleSpinBox::up-button,
QSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;
    width: 2ex;
    image: {{ icon('arrow_drop_up') }};
    border-width: 0;
    margin-right: 0.5ex;
}

QDoubleSpinBox::up-button:hover,
QSpinBox::up-button:hover {
    image: {{ icon('arrow_drop_up') }};
}

QDoubleSpinBox::up-button:pressed,
QSpinBox::up-button:pressed {
    image: {{ icon('arrow_drop_up') }};
}

QDoubleSpinBox::down-button,
QSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;
    width: 2ex;
    image: {{ icon('arrow_drop_down') }};
    border-width: 0;
    margin-right: 0.5ex;
}

QDoubleSpinBox::down-button:hover,
QSpinBox::down-button:hover {
    image: {{ icon('arrow_drop_down') }};
}

QDoubleSpinBox::down-button:pressed,
QSpinBox::down-button:pressed {
   image: {{ icon('arrow_drop_down') }};
}
