QSplitter {
    background: {{ palette('base') }};
}

QSplitter::handle {
    background: {{ palette('mid') }};
    border: none;
    border-radius: 0.1ex;
}

QSplitter::handle:horizontal {
    min-width: 0.3ex;
}

QSplitter::handle:vertical {
    min-height: 0.3ex;
}

QSplitter::handle:hover {
    background: {{ palette('Highlight') | alpha(120) }};
}
