QTabWidget::pane {
    border-top: 1px solid {{ palette('border') }};
}

QTabWidget::tab-bar {
    left: 1ex;
}

QTabBar::tab {
    background: palette(base);
    min-width: 8ex;
    padding: 0.4ex 0.8ex;
    margin: 0 0.2ex;
    border: none;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: palette(base);
}

QTabBar::tab:selected {
    border-bottom: 0.2ex solid {{ palette('Selection') }};
}

QTabBar::tab:!selected {
    margin-top: 0.2ex;
    color: {{ palette('UnselectedText') }};
}
