QTableView {
    alternate-background-color: {{ palette('base') | darker(103) }};
    show-decoration-selected: 1;
}

QTableView QTableCornerButton::section {
    background: palette(button);
    border: 1px solid {{ palette('border') }};
}

QTableView::item:hover {
    background: {{ palette('highlight') | alpha(25) }};
}

QTableView::item:selected {
    border: none;
}

QTableView::item:selected:active {
    background: {{ palette('Selection') }};
}

QTableView::item:selected:!active {
    background: {{ palette('Selection') | alpha(80) }};
}
