QTabWidget::pane {
    border-top: 1px solid {{ palette('border') }};
}

QTabWidget::tab-bar {
    left: 10px;
}

QTabBar::tab {
    background: palette(base);
    min-width: 8ex;
    padding: 4px 8px;
    margin: 0 2px;
    border: none;
}

QTabBar::tab:selected, QTabBar::tab:hover {
    background: palette(base);
}

QTabBar::tab:selected {
    border-bottom: 2px solid {{ palette('Selection') }};
}

QTabBar::tab:!selected {
    margin-top: 2px;
    color: {{ palette('UnselectedText') }};
}
