QTableView {
    alternate-background-color: palette(mid);
    show-decoration-selected: 1;
}

QTableView QTableCornerButton::section {
    background: red;
    border: 2px outset red;
}

QTableView::item:hover {
    background: palette(mid);
    border: 1px solid {{ palette('Selection') }};
}

QTableView::item:selected {
    border: 1px solid {{ palette('Selection') }};
}

QTableView::item:selected:active {
    background: {{ palette('Selection') }};
}

QTableView::item:selected:!active {
    background: {{ palette('Selection') | lighter(150) }};
}