
QToolButton {
    background-color: palette(button);
    color: palette(text);
    border: 1px solid {{ palette('border') }};
    border-radius: 0.4ex;
    padding: 0.2ex 0.6ex;
}

QToolButton:hover {
    background-color: {{ palette('button') | lighter(110) }};
    border: 1px solid {{ palette('Selection') }};
}

QToolButton:pressed {
    background-color: {{ palette('button') | darker(110) }};
    border: 1px solid {{ palette('Selection') }};
}

QToolButton:disabled {
    color: {{ palette('UnselectedText') }};
    border: 1px solid {{ palette('border') }};
}

QToolButton::menu-indicator {
    image: {{ icon('arrow_drop_down') }};
    subcontrol-position: right center;
    subcontrol-origin: padding;
    width: 1.2ex;
    height: 1.2ex;
}

QToolButton[autoRaise="true"] {
    background-color: transparent;
    border: none;
}

QToolButton[autoRaise="true"]:hover {
    background-color: {{ palette('highlight') | alpha(30) }};
    border: none;
    border-radius: 0.4ex;
}

QToolButton[autoRaise="true"]:pressed {
    background-color: {{ palette('highlight') | alpha(60) }};
    border: none;
}
