
QToolTip {
    background-color: {{ palette('ToolTipBase') }};
    color: {{ palette('ToolTipText') }};
    border: 1px solid {{ palette('border') }};
    border-radius: 0.4ex;
    padding: 0.4ex 0.8ex;
    opacity: 230;
}
