
QToolTip {
    background-color: {{ palette('ToolTipBase') }};
    color: {{ palette('ToolTipText') }};
    border: 1px solid {{ palette('border') }};
    border-radius: 4px;
    padding: 4px 8px;
    opacity: 230;
}
