QToolBar {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 palette(base), stop:1 palette(mid));
    height: 22px;
    border-bottom: 1px solid {{ palette('border') }};
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar::handle {
}