QTreeView {
    background-color: {{ palette('base') }};
    alternate-background-color: {{ palette('base') | darker(103)}};
    show-decoration-selected: 1;
    border: none;
}

QTreeView::item {
    padding: 0.2ex 0;
}

QTreeView::item:hover {
    background: {{ palette('highlight') | alpha(25) }};
}

QTreeView::item:selected {
    border: none;
}

QTreeView::item:selected:active{
    background: {{ palette('Selection') }};
}

QTreeView::item:selected:!active {
    background: {{ palette('Selection') | alpha(80) }};
}

QTreeView::branch {
        background: palette(base);
}


QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: {{ icon('arrow_right') }};
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: {{ icon('arrow_drop_down') }};
}
