QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: palette(base);
    margin: 0px;
    border: 1px solid {{ palette('border') }};
    border-radius: 4px;
    padding: 2px 4px;
    height: {{ controls_height }};
}

QLineEdit:focus, QTextEdit:focus, QPlainTextEdit:focus {
    background-color: palette(base);
    margin: 0px;
    border: 1px solid {{ palette('Selection') }};
    border-radius: 4px;
    padding: 2px 4px;
}
