QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: palette(base);
    margin: 0px;
    border: 1px solid #eef2f7;
    border-radius: 2px;
    padding: 0px;
    height: {{ controls_height }};
}

QLineEdit:focus, QTextEdit:focus, QPlainTextEdit:focus {
    background-color: palette(base);
    margin: 0px;
    border: 2px solid #eef2f7;
    border-radius: 2px;
    padding: 0px;
}