QLineEdit, QTextEdit, QPlainTextEdit {
    background-color: palette(base);
    margin: 0;
    border: 1px solid {{ palette('border') }};
    border-radius: 0.4ex;
    padding: 0.2ex 0.4ex;
    height: {{ controls_height }};
}

QLineEdit:focus, QTextEdit:focus, QPlainTextEdit:focus {
    background-color: palette(base);
    margin: 0;
    border: 1px solid {{ palette('Selection') }};
    border-radius: 0.4ex;
    padding: 0.2ex 0.4ex;
}
