HLine {
    background-color: #ccc
}

Container {
    background-color: palette(base);
    border: 1px solid black;
    border-radius: 2px;
}

SciQLopPlotContainer[empty=false]{
    margin: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    padding: 0px;
    border-image: none ;
}

SciQLopPlotContainer[empty=true] {
    margin: 0px;
    border-top-width: 0px;
    padding: 0px;
    border-image: url(:/plot_panel_dd_background.png) 0 0 0 0 stretch stretch;
}

SciQLopPlotContainer::handle:vertical {
    height: 2px;
    background: {{ palette('border') | lighter(250) }};
}

SciQLopPlotInterface{
    margin: 0px;
    padding: 0px;
}

CardsCollection {
    background-color: {{ palette('WelcomeBackground') }};
}

WelcomeSection {
    background-color: {{ palette('WelcomeBackground') }};
}

DetailedDescription {
    background-color: palette(base);
    border-left: 4px solid{{ palette('WelcomeBackground') }};
}


WelcomeSection QLabel {
    background-color: {{ palette('WelcomeBackground') }};
}

Card[selected=false] QLabel {
    background-color: palette(base);
    border: 0px;
}

Card[selected=true] QLabel {
    background-color: palette(base);
    border: 0px;
}

Card[selected=false] {
    background-color: palette(base);
    border: 0px;
    border-radius: 5px;
}

Card[selected=true] {
    border: 2px solid palette(highlight);
    border-radius: 5px;
}

Card:hover[selected=false] {
    border: 1px solid palette(highlight);
    border-radius: 5px;
}

WorkSpaceCard[default_workspace=true] QLabel
{
    background-color: {{ palette('base') | darker(105)}};
    border: 0px;
}

WorkSpaceCard[default_workspace=true]
{
    background-color: {{ palette('base') | darker(105)}};
    border: 0px;
}

ColorDelegate
{
    background-color: palette(Button);
    border: 2px solid {{ palette('border') }};
    border-radius: 5px;
    height: 24px;
}