# Virtual product '{{ product_path }}'
# callback '{{ module }}.{{ qualname }}' is not importable from this module.
# Re-execute the cell that registered the VP before running this snippet,
# then:
{% include "sciqlop_panel.j2" %}
panel.plot_product("{{ product_path }}")
